<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>第四週主線：登入及後台CRUD (產品列表)</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
  <link rel="stylesheet" href="./style.css">

</head>

<body>
  <!-- partial:index.partial.html -->
  <div id="app">
    <div class="white-bg">
      <div class="top">
        <div class="d-flex justify-content-between">
          <h3>皂皂市集管理後台</h3>
          <button class="btn btn-dark" @click="logOut">登出</button>
        </div>
      </div>

      <div class="container">
        <div class="d-flex justify-content-between mb-2">
          <h2>產品列表</h2>
          <button class="btn btn-primary" type="button" @click="editData()">新增產品</button>
        </div>
        <table class="table">
          <tr>
            <th>序號</th>
            <th>產品名稱</th>
            <th>商品上架</th>
            <th>商品分類</th>
            <th>原價</th>
            <th>售價</th>
            <th>功能</th>
          </tr>
          <tr v-for="shopData,index in shopDatas" :key="shopData.id">
            <td>{{(pagination.current_page-1)*25+index+1}}</td>
            <td>{{shopData.title}}</td>
            <td>
              <template v-if="shopData.enabled">
                <span class="text-success">是</span>
              </template>
              <template v-else>
                <span>否</span>
              </template>
            </td>
            <td>{{shopData.category}}</td>
            <td>{{shopData.origin_price}}</td>
            <td>{{shopData.price}}</td>
            <td>
              <button class="btn btn-primary" type="button" @click="editData(shopData)">修改</button>
              <button class="btn btn-danger" type="button" @click="deleteQA(shopData.id, shopData.title)">刪除</button>
            </td>
          </tr>

        </table>

        <!-- pagination -->
        <pagination :pages="pagination" @emit-pages="getData" name="pagination"></pagination>


        <!-- deleteModal -->
        <div class="modal fade bd-example-modal-sm" id="deleteModal" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">確認操作</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                確定要刪除 {{tempDelete.title}}?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>

                <button type="button" class="btn btn-danger" @click="deleteData()">確認刪除</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal -->
        <div class="modal fade bd-example-modal-lg" id="editModal" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">
                  <template v-if="tempData.id">
                    編輯產品
                  </template>
                  <template v-else>
                    新增產品
                  </template>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form class="form-group">
                  <div class="row">
                    <div class="col-sm-6">
                      <table>
                        <tr>
                          <th width="30%">
                            產品標題
                          </th>
                          <td width="70%">
                            <input type="text" class="form-control" v-model="tempData.title" placeholder="產品標題"
                              required> </td>
                        </tr>
                        <tr>
                          <th>分類</th>
                          <td>
                            <input type="text" class="form-control" v-model="tempData.category" placeholder="分類"> </td>
                        </tr>
                        <tr>
                          <th>內容</th>
                          <td>
                            <textarea type="text" class="form-control" v-model="tempData.content"
                              placeholder="內容"></textarea> </td>
                        </tr>
                        <tr>
                          <th>原價</th>
                          <td>
                            <input type="text" class="form-control" v-model.number="tempData.origin_price"
                              placeholder="原價"> </td>
                        </tr>
                        <tr>
                          <th>售價</th>
                          <td>
                            <input type="text" class="form-control" v-model.number="tempData.price" placeholder="售價">
                          </td>
                        </tr>
                      </table>

                    </div>

                    <div class="col-sm-6">

                      <table>
                        <tr>

                          <th width="30%">單位</th>
                          <td width="70%">
                            <input type="text" class="form-control" v-model="tempData.unit" placeholder="單位">
                          </td>
                        </tr>
                        <tr>
                          <th>是否啟用</th>
                          <td>
                            <div class="custom-control custom-switch">
                              <input type="checkbox" class="custom-control-input" id="customSwitches"
                                v-model="tempData.enabled">
                              <label class="custom-control-label" for="customSwitches"></label>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <th>敘述</th>
                          <td>
                            <input type="text" class="form-control" v-model="tempData.description" placeholder="敘述">
                          </td>
                        </tr>
                      </table>
                      <hr>
                      <div class="mb-3"><b>圖片網址</b></div>

                      <div v-for="imgIdx in 3" class="mt-3">
                        <input type="text" class="form-control" v-model="tempData.imageUrl[imgIdx - 1]"
                          placeholder="圖片網址">
                        <img v-if="tempData.imageUrl[imgIdx - 1]" :src="tempData.imageUrl[imgIdx - 1]" alt="">
                      </div>

                    </div>

                  </div>

                </form>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                <button type="button" class="btn btn-primary" @click="updateData()">送出</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-5"></div>
    </div>
  </div>
  <!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-alpha1/js/bootstrap.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.2/umd/popper.min.js'></script>

  <!-- 分頁 -->
  <script type="text/x-template" id="pagination">
    <nav aria-label="nav">
      <ul class="pagination">
        <li
          class="page-item"
          :class="{'disabled': pages.current_page === 1}"
        >
          <a
            class="page-link"
            href="#"
            aria-label="Previous"
            @click.prevent="emitPages(pages.current_page - 1)"
          >
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li
          v-for="(item, index) in pages.total_pages"
          :key="index"
          class="page-item"
          :class="{'active': item === pages.current_page}"
        >
          <a
            class="page-link"
            href="#"
            @click.prevent="emitPages(item)"
          >{{ item }}</a>
        </li>
        <li
          class="page-item"
          :class="{'disabled': pages.current_page === pages.total_pages}"
        >
          <a
            class="page-link"
            href="#"
            aria-label="Next"

            @click.prevent="emitPages(pages.current_page + 1)"
          >
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </script>

  <script src="./pagination.js"></script>
  <script src="./backend.js"></script>
</body>

</html>